.forecast-container {
    background-color: rgba(238, 219, 219, 0.822);
    border-radius: 20px ;

}

h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.weather-list {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 20px;
}

.weather-item {
    text-align: center;
    background-color: rgba(238, 219, 219, 0.822);
    border-radius: 20px;
    padding: 1vh;
    margin-bottom: 5vh;

}

.forecast-description,
.forecast-day {
    text-transform: capitalize;
    font-size: 1.1rem;

}